/*
CSS Credit: #/
*/

body {
	margin:0px;
	padding:0px;
	color:#555;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:1.5em; 
	background-color:#ffffff;
	background-image: url(../images/body.jpg);
	background-position:top;
	background-repeat:repeat-x;
}

a, a:link, a:visited {
	color: #0074c5; 
	text-decoration: none;
}

a:hover {
	color: #009900;
	text-decoration: underline;
}

p { margin: 0px; padding: 0 0 10px 0; }
images { border: none; }

h1, h2, h3, h4, h5{ font-weight: normal; }

h1 { font-size: 36px; color: #000; }
h2 { font-size: 24px; color: #000; margin: 0 0 20px 0; padding: 0; }
h3 { font-size: 21px; color: #ccc; margin: 0 0 20px 0; padding: 0; }
h4 { font-size: 18px; color: #000; margin: 0 0 10px 0; padding: 0; }
h5 { font-size: 16px; color: #000; margin: 0 0 10px 0; padding: 0; }
h6 { font-size: 14px; margin: 0 0 5px 0; padding: 0;}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.float_l {
	float: left;
}

.float_r {
	float: right;
}

blockquote { font-style: italic; }
cite { font-weight: bold; }
cite span { color: #000; } 

.button a{
	clear: both;
	display: block;
	width: 103px;
	height: 23px;
	padding: 4px 0 0 0;
	background: url(../images/button.png) no-repeat;

	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.button a:hover {
	background: url(../images/button_hover.png) no-repeat;
}

#header_wrapper {
	width: 980px;
	margin: 0 auto;
	padding: 0 5px;
}

#header {
	width: 920px;
	height: 100px;
	padding: 0 30px;
}

#header  #site_title {
	float: left;
	width: 300px;
	padding: 30px 0 0 0;
}

#header  #site_title h1 {
	margin: 0;
	padding: 0;
}

#header  #site_title h1 a{
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#header  #site_title h1 a span {
	display: block;
	text-align: right;
	font-size: 14px;
	color: #CCC;
	font-weight: bold;
	letter-spacing: 2px;
}

#header #search_box {
	float: right;
	width: 280px;
	height: 30px;
	margin-top: 30px;
}

#search_box form {
	width: 280px;
	height: 30px;
	margin: 0;
	padding: 0;
}

#searchfield {
	height: 15px;
	width: 180px;
	padding: 5px 5px 5px 5px;
	margin-right: 0px;
	color: #bcbcbc;
	font-size: 12px;
	font-variant: normal;
	line-height: normal;
	background: #161b1f;
	border: 1px solid #0b0e10;	
}

#searchbutton {
 	height: 28px;
	width: 80px;
	padding-bottom: 3px;
	cursor: pointer;
	font-size: 13px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	color: #333;
}

/* menu */

#menu {
	clear: both;
	height: 39px;
	padding: 11px 0 0 0;
}

#menu ul {
	margin: 0;
	padding: 0 0 0 30px;
	list-style: none;
}

#menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#menu ul li a {
	position: relative;
	float: left;
	width: 103px;
	display: block;
	height: 23px;
	padding: 4px 0 0 0;
	margin-right: 10px;
	text-align: center;
	font-size: 13px;
	text-decoration: none;
	color: #21272d;	
	font-weight: bold;
	outline: none;
}

#menu li a:hover, #menu li .current {
	color: #fff;
	background: url(../images/menu_hover.png);
}

/* end of menu */

/* banner*/

#banner {
	clear: both;
	width: 920px;
	height: 200px;
	padding: 50px 30px;
	background: url(../images/banner.jpg) no-repeat;
	overflow: hidden;
}

#banner h3 {
	color: #99CCFF;
	font-size: 42px;
}

#banner p {
	color: #FFFFFF;
	font-size: 16px;
}

/* end of banner */

#content_wrapper_outer {
	width: 100%;
	background: url(../images/content_top.jpg) top repeat-x;
	border-top: 1px solid #004e85;
	
}

#content_wrapper_inner {
	width: 100%;
	background: url(../images/content_bottom.jpg) bottom repeat-x;	
}

#content_wrapper {
	width: 920px;
	margin: 0 auto;
	padding: 30px;
}

#content {
	width: 620px;
	float: left;
}

.service_box {
	width: 280px;
}

.service_image {
	float: left;
	width: 64px;
	margin: 3px 0 0 0;
}

.service_box .service_text {
	float: right;
	width: 200px;
	text-align: justify;
}

.services_section {
	clear: both;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #CCC;
	background: url(../images/divider.jpg) bottom repeat-x;	
}

.services_section h4 {
	margin-bottom: 20px;
}

.services_section .right {
	float: right; 
	width: 120px;
}

.services_section .right images {
}

.services_sectio .services_content {
	clear: both;
	margin: 10px 0;
}

.services_section .left {
	float: left; 
	width: 470px;
}

.services_section .left p {
	text-align: justify;
}


.post_section {
	clear: both;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #CCC;
	background: url(../images/divider.jpg) bottom repeat-x;	
}

.post_section h2  {
	margin: 0 0 5px 0;
	padding: 10px 0 5px 0;
	background: url(../images/header.png) no-repeat bottom left;
}

.post_section .post_content {
	clear: both;
	margin: 10px 0;
}
.post_content .left {
	float: left; 
	width: 130px;
}

.post_content .left images {
	border:1px solid #CCC;
	padding: 5px;
	background: #fff;
}

.post_content .right {
	float: right; 
	width: 450px;
}

.post_section p {
	padding-bottom: 5px;
	margin-bottom: 8px;
}

.post_section .comment_tab {
	padding: 10px 0;
	margin: 40px 0 20px 0;
	border-bottom: 1px dashed #666;
	font-size: 20px;
	font-weight: bold;
}

#recent_project {
		width: 620px;
	}
	#recent_project ul { list-style: none; margin: 0; padding: 0; }
	#recent_project ul li {
		float: left;
		display: inline; 
		padding: 0;
		margin: 0;
		width: 270px;
		padding: 6px;
		margin: 0 25px 25px 0;
		background: #f1f2ea;
		border: 1px solid #d5d7ca;
	}
	#recent_project ul images {
		width: 270px;
		height: 130px;
		border: none;
		margin-bottom: 5px;
	}


/* gallery */
#gallery {
		width: 610px;
	}
	#gallery ul { list-style: none; margin: 0; padding: 0; }
	#gallery ul li {
		float: left;
		display: inline; 
		padding: 0;
		margin: 0;
		width: 270px;
		padding: 6px;
		margin: 0 20px 20px 0;
		background: #f1f2ea;
		border: 1px solid #d5d7ca;
	}
	#gallery ul images {
		width: 270px;
		height: 130px;
		border: none;
		margin-bottom: 5px;
	}
/* end of gallery */

#contact_form {
	float: left;
	padding: 20px 0 0 0;
}

#contact_form form {
	margin: 0px;
	padding: 0px;
	/*border:1px solid #e2d1be;
	padding: 20px 20px 10px 20px; */
}

#contact_form form .input_field {
	height: 18px;
	width: 230px;
}

#contact_form form label {
	display: block;
	margin-right: 10px;
	font-size: 14px;	
}

#contact_form form textarea {
	width: 310px;
	height: 150px;
}

#contact_form form .submit_btn {
	float: left;
	margin-right: 110px;
	width: 103px;
	height: 27px;
	padding: 0px 0 0 0;
	text-align: center;
	cursor: pointer;
	border: none;
	color: #fff;
	background: url(../images/button.png) no-repeat;
}


/* sidebar */

#sidebar {
	float: right;
	width: 240px;
}

.section_rss_weibo{
	width: 240px;
	margin-top: 20px;
	margin-bottom: 120px;
}

.rss_weibo a{
	display: block;
	width: 240px;
	color: #333;
	padding: 20px 0 0 0;
	margin-bottom: 40px;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
}

.rss_weibo a:hover {
	text-decoration: none;	
}

.rss_weibo a span {
	font-size: 15px;
	margin-top: 5px;
	display: block;
	letter-spacing: 5px;
}

.rss a{

	background: url(../images/rss.png) right bottom no-repeat;
}

.weibo a{

	background: url(../images/weibo.png) right bottom no-repeat;
}


#sidebar_featured_project {
	margin: 0 0 40px 0;
	padding: 0;
}

#sidebar_featured_project .left {
	float: left;
	width: 64px;
}

#sidebar_featured_project .right {
	float: right;
	width: 170px;
}

#sidebar_featured_project h6 a{
	color: #fff;
}

#news_section {
	margin: 0 0 40px 0;
	padding: 0;
}

.news_section h3 {
}

.news_box a {
	font-weight: normal;
	text-decoration: underline;
}

.news_box  {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #CCC;
}

/* end of sidebar */

/* footer */

#footer_wrapper {
	clear: both;
	width: 100%;
	background: #005590 url(../images/footer.jpg) repeat-x top;
}


#footer {
	clear: both;
	width: 940px;
	padding: 20px 30px;
	margin: 0 auto;
	text-align: center;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
	font-weight: normal;
	text-decoration: underline;
}

#footer a:hover {
	color: #33CCFF;
	text-decoration: none;
}

#footer .footer_menu {
	margin: 0 0 10px 0;
	padding: 0px;
	list-style: none;
}

.footer_menu li {
	margin: 0px;
	padding: 0 20px 0 0;
	display: inline;
}

.footer_menu li a {
	color: #ffffff;
}

.footer_menu .last_menu {
	border: none;
}

/* end of footer */